DB_HOST=localhost
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PREFIX=pay

APP_URL=https://pay.example.com/
LOCAL_URL=https://pay.example.com/
LOCALURL_WXPAY=https://pay.example.com/
WXPAY_QRCODE_URL=
ALIPAY_QRCODE_URL=
